<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="-BkxkmhzTjPeSf3rqWQImOPiCIOS55CfhQO0vUbL99U" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> {% seo %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $("a[href*='" + location.pathname + "']").addClass("current");

        });
    </script>-->
</head>

<body>

    <header>
        <div style="background-image: url('/shades_of_green.jpg');background-size: auto;" class="header">
            <a href="#"><img src="/favicon.ico" /></a>
            <h1 class="name">prethiee</h1>
        </div>
    </header>
    <nav id="navigation">
        <ul>
            <li><a href="/">About me</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/blog">Blog</a></li>
           
        </ul>
    </nav>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
   <!-- <footer>
        <ul>
            <li><a href="#">email</a></li>
            <li><a href="#">github.com/prethiee</a></li>
        </ul>
    </footer>-->
</body>

</html>
